<html lang="en">
    <head>
        <title>Budget Streamer</title>
        <style>
            body {
                display: flex;
                background-color: black;
                flex-direction: column;
                justify-content: center;
            }
            h1 {
                color: white;
            }
            img {
                max-width: 100%;
            }
        </style>
    </head>
    <body>
        <h1>Grow Cam</h1>
        <img src="/feed/0">
    </body>
</html>
